
    <div class="container-fluid bg-dark">
    <p>TESTE 3</p>
    </div>


<script src="/assets/js/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<p>teste 5 </p>
</body>
</html>